# coding: utf-8

"""
    Loadero Controller

    This application serves main Loadero's endpoints that can be used to manipulate test data and other services  # noqa: E501

    OpenAPI spec version: v0.38.0
    Contact: support@loadero.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class GroupparticipantsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_group_participant(self, project_id, test_id, group_id, **kwargs):  # noqa: E501
        """Create new group participant.  # noqa: E501

        This endpoint creates new group participant with given properties.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_group_participant(project_id, test_id, group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int project_id: (required)
        :param int test_id: (required)
        :param int group_id: (required)
        :param GroupParticipant body:
        :param str describe:
        :return: Participant
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_group_participant_with_http_info(project_id, test_id, group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_group_participant_with_http_info(project_id, test_id, group_id, **kwargs)  # noqa: E501
            return data

    def create_group_participant_with_http_info(self, project_id, test_id, group_id, **kwargs):  # noqa: E501
        """Create new group participant.  # noqa: E501

        This endpoint creates new group participant with given properties.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_group_participant_with_http_info(project_id, test_id, group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int project_id: (required)
        :param int test_id: (required)
        :param int group_id: (required)
        :param GroupParticipant body:
        :param str describe:
        :return: Participant
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'test_id', 'group_id', 'body', 'describe']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_group_participant" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `create_group_participant`")  # noqa: E501
        # verify the required parameter 'test_id' is set
        if ('test_id' not in params or
                params['test_id'] is None):
            raise ValueError("Missing the required parameter `test_id` when calling `create_group_participant`")  # noqa: E501
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `create_group_participant`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['projectID'] = params['project_id']  # noqa: E501
        if 'test_id' in params:
            path_params['testID'] = params['test_id']  # noqa: E501
        if 'group_id' in params:
            path_params['groupID'] = params['group_id']  # noqa: E501

        query_params = []
        if 'describe' in params:
            query_params.append(('describe', params['describe']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{projectID}/tests/{testID}/groups/{groupID}/participants/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Participant',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_group_participant(self, participant_id, project_id, test_id, group_id, **kwargs):  # noqa: E501
        """Delete existing group participant.  # noqa: E501

        This endpoint deletes group participant.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_group_participant(participant_id, project_id, test_id, group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int participant_id: (required)
        :param int project_id: (required)
        :param int test_id: (required)
        :param int group_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_group_participant_with_http_info(participant_id, project_id, test_id, group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_group_participant_with_http_info(participant_id, project_id, test_id, group_id, **kwargs)  # noqa: E501
            return data

    def delete_group_participant_with_http_info(self, participant_id, project_id, test_id, group_id, **kwargs):  # noqa: E501
        """Delete existing group participant.  # noqa: E501

        This endpoint deletes group participant.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_group_participant_with_http_info(participant_id, project_id, test_id, group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int participant_id: (required)
        :param int project_id: (required)
        :param int test_id: (required)
        :param int group_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['participant_id', 'project_id', 'test_id', 'group_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_group_participant" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'participant_id' is set
        if ('participant_id' not in params or
                params['participant_id'] is None):
            raise ValueError("Missing the required parameter `participant_id` when calling `delete_group_participant`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `delete_group_participant`")  # noqa: E501
        # verify the required parameter 'test_id' is set
        if ('test_id' not in params or
                params['test_id'] is None):
            raise ValueError("Missing the required parameter `test_id` when calling `delete_group_participant`")  # noqa: E501
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `delete_group_participant`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'participant_id' in params:
            path_params['participantID'] = params['participant_id']  # noqa: E501
        if 'project_id' in params:
            path_params['projectID'] = params['project_id']  # noqa: E501
        if 'test_id' in params:
            path_params['testID'] = params['test_id']  # noqa: E501
        if 'group_id' in params:
            path_params['groupID'] = params['group_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{projectID}/tests/{testID}/groups/{groupID}/participants/{participantID}/', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def duplicate_group_participant(self, participant_id, project_id, test_id, group_id, **kwargs):  # noqa: E501
        """Duplicate existing group participant.  # noqa: E501

        This endpoint duplicates given group participant. If no copy name is provided an \"Copy of\" prefix will be applied to the participant name.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.duplicate_group_participant(participant_id, project_id, test_id, group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int participant_id: (required)
        :param int project_id: (required)
        :param int test_id: (required)
        :param int group_id: (required)
        :param str describe:
        :return: Participant
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.duplicate_group_participant_with_http_info(participant_id, project_id, test_id, group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.duplicate_group_participant_with_http_info(participant_id, project_id, test_id, group_id, **kwargs)  # noqa: E501
            return data

    def duplicate_group_participant_with_http_info(self, participant_id, project_id, test_id, group_id, **kwargs):  # noqa: E501
        """Duplicate existing group participant.  # noqa: E501

        This endpoint duplicates given group participant. If no copy name is provided an \"Copy of\" prefix will be applied to the participant name.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.duplicate_group_participant_with_http_info(participant_id, project_id, test_id, group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int participant_id: (required)
        :param int project_id: (required)
        :param int test_id: (required)
        :param int group_id: (required)
        :param str describe:
        :return: Participant
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['participant_id', 'project_id', 'test_id', 'group_id', 'describe']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method duplicate_group_participant" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'participant_id' is set
        if ('participant_id' not in params or
                params['participant_id'] is None):
            raise ValueError("Missing the required parameter `participant_id` when calling `duplicate_group_participant`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `duplicate_group_participant`")  # noqa: E501
        # verify the required parameter 'test_id' is set
        if ('test_id' not in params or
                params['test_id'] is None):
            raise ValueError("Missing the required parameter `test_id` when calling `duplicate_group_participant`")  # noqa: E501
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `duplicate_group_participant`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'participant_id' in params:
            path_params['participantID'] = params['participant_id']  # noqa: E501
        if 'project_id' in params:
            path_params['projectID'] = params['project_id']  # noqa: E501
        if 'test_id' in params:
            path_params['testID'] = params['test_id']  # noqa: E501
        if 'group_id' in params:
            path_params['groupID'] = params['group_id']  # noqa: E501

        query_params = []
        if 'describe' in params:
            query_params.append(('describe', params['describe']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{projectID}/tests/{testID}/groups/{groupID}/participants/{participantID}/copy/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Participant',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def read_all_group_participants(self, project_id, test_id, group_id, **kwargs):  # noqa: E501
        """Get all existing group participants for group.  # noqa: E501

        This endpoint retrieves all group participant info.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.read_all_group_participants(project_id, test_id, group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int project_id: (required)
        :param int test_id: (required)
        :param int group_id: (required)
        :param int limit:
        :param int offset:
        :param str describe:
        :param str filter_browser:
        :param str filter_network:
        :param str filter_location:
        :param str filter_media_type:
        :param str filter_video_feed:
        :param str filter_audio_feed:
        :param str filter_name:
        :param str filter_count_from:
        :param str filter_count_to:
        :param str filter_compute_unit:
        :param str filter_has_group:
        :param str filter_record_audio:
        :return: InlineResponse2008
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.read_all_group_participants_with_http_info(project_id, test_id, group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.read_all_group_participants_with_http_info(project_id, test_id, group_id, **kwargs)  # noqa: E501
            return data

    def read_all_group_participants_with_http_info(self, project_id, test_id, group_id, **kwargs):  # noqa: E501
        """Get all existing group participants for group.  # noqa: E501

        This endpoint retrieves all group participant info.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.read_all_group_participants_with_http_info(project_id, test_id, group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int project_id: (required)
        :param int test_id: (required)
        :param int group_id: (required)
        :param int limit:
        :param int offset:
        :param str describe:
        :param str filter_browser:
        :param str filter_network:
        :param str filter_location:
        :param str filter_media_type:
        :param str filter_video_feed:
        :param str filter_audio_feed:
        :param str filter_name:
        :param str filter_count_from:
        :param str filter_count_to:
        :param str filter_compute_unit:
        :param str filter_has_group:
        :param str filter_record_audio:
        :return: InlineResponse2008
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'test_id', 'group_id', 'limit', 'offset', 'describe', 'filter_browser', 'filter_network', 'filter_location', 'filter_media_type', 'filter_video_feed', 'filter_audio_feed', 'filter_name', 'filter_count_from', 'filter_count_to', 'filter_compute_unit', 'filter_has_group', 'filter_record_audio']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method read_all_group_participants" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `read_all_group_participants`")  # noqa: E501
        # verify the required parameter 'test_id' is set
        if ('test_id' not in params or
                params['test_id'] is None):
            raise ValueError("Missing the required parameter `test_id` when calling `read_all_group_participants`")  # noqa: E501
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `read_all_group_participants`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['projectID'] = params['project_id']  # noqa: E501
        if 'test_id' in params:
            path_params['testID'] = params['test_id']  # noqa: E501
        if 'group_id' in params:
            path_params['groupID'] = params['group_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'describe' in params:
            query_params.append(('describe', params['describe']))  # noqa: E501
        if 'filter_browser' in params:
            query_params.append(('filter_browser', params['filter_browser']))  # noqa: E501
        if 'filter_network' in params:
            query_params.append(('filter_network', params['filter_network']))  # noqa: E501
        if 'filter_location' in params:
            query_params.append(('filter_location', params['filter_location']))  # noqa: E501
        if 'filter_media_type' in params:
            query_params.append(('filter_media_type', params['filter_media_type']))  # noqa: E501
        if 'filter_video_feed' in params:
            query_params.append(('filter_video_feed', params['filter_video_feed']))  # noqa: E501
        if 'filter_audio_feed' in params:
            query_params.append(('filter_audio_feed', params['filter_audio_feed']))  # noqa: E501
        if 'filter_name' in params:
            query_params.append(('filter_name', params['filter_name']))  # noqa: E501
        if 'filter_count_from' in params:
            query_params.append(('filter_count_from', params['filter_count_from']))  # noqa: E501
        if 'filter_count_to' in params:
            query_params.append(('filter_count_to', params['filter_count_to']))  # noqa: E501
        if 'filter_compute_unit' in params:
            query_params.append(('filter_compute_unit', params['filter_compute_unit']))  # noqa: E501
        if 'filter_has_group' in params:
            query_params.append(('filter_has_group', params['filter_has_group']))  # noqa: E501
        if 'filter_record_audio' in params:
            query_params.append(('filter_record_audio', params['filter_record_audio']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{projectID}/tests/{testID}/groups/{groupID}/participants/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2008',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def read_group_participant(self, participant_id, project_id, test_id, group_id, **kwargs):  # noqa: E501
        """Get existing group participant.  # noqa: E501

        This endpoint retrieves group participant info.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.read_group_participant(participant_id, project_id, test_id, group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int participant_id: (required)
        :param int project_id: (required)
        :param int test_id: (required)
        :param int group_id: (required)
        :param str describe:
        :return: Participant
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.read_group_participant_with_http_info(participant_id, project_id, test_id, group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.read_group_participant_with_http_info(participant_id, project_id, test_id, group_id, **kwargs)  # noqa: E501
            return data

    def read_group_participant_with_http_info(self, participant_id, project_id, test_id, group_id, **kwargs):  # noqa: E501
        """Get existing group participant.  # noqa: E501

        This endpoint retrieves group participant info.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.read_group_participant_with_http_info(participant_id, project_id, test_id, group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int participant_id: (required)
        :param int project_id: (required)
        :param int test_id: (required)
        :param int group_id: (required)
        :param str describe:
        :return: Participant
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['participant_id', 'project_id', 'test_id', 'group_id', 'describe']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method read_group_participant" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'participant_id' is set
        if ('participant_id' not in params or
                params['participant_id'] is None):
            raise ValueError("Missing the required parameter `participant_id` when calling `read_group_participant`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `read_group_participant`")  # noqa: E501
        # verify the required parameter 'test_id' is set
        if ('test_id' not in params or
                params['test_id'] is None):
            raise ValueError("Missing the required parameter `test_id` when calling `read_group_participant`")  # noqa: E501
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `read_group_participant`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'participant_id' in params:
            path_params['participantID'] = params['participant_id']  # noqa: E501
        if 'project_id' in params:
            path_params['projectID'] = params['project_id']  # noqa: E501
        if 'test_id' in params:
            path_params['testID'] = params['test_id']  # noqa: E501
        if 'group_id' in params:
            path_params['groupID'] = params['group_id']  # noqa: E501

        query_params = []
        if 'describe' in params:
            query_params.append(('describe', params['describe']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{projectID}/tests/{testID}/groups/{groupID}/participants/{participantID}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Participant',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_group_participant(self, participant_id, project_id, test_id, group_id, **kwargs):  # noqa: E501
        """Update existing group participant.  # noqa: E501

        This endpoint updates group participant with given properties.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_group_participant(participant_id, project_id, test_id, group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int participant_id: (required)
        :param int project_id: (required)
        :param int test_id: (required)
        :param int group_id: (required)
        :param GroupParticipant body:
        :param str describe:
        :return: Participant
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_group_participant_with_http_info(participant_id, project_id, test_id, group_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_group_participant_with_http_info(participant_id, project_id, test_id, group_id, **kwargs)  # noqa: E501
            return data

    def update_group_participant_with_http_info(self, participant_id, project_id, test_id, group_id, **kwargs):  # noqa: E501
        """Update existing group participant.  # noqa: E501

        This endpoint updates group participant with given properties.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_group_participant_with_http_info(participant_id, project_id, test_id, group_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int participant_id: (required)
        :param int project_id: (required)
        :param int test_id: (required)
        :param int group_id: (required)
        :param GroupParticipant body:
        :param str describe:
        :return: Participant
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['participant_id', 'project_id', 'test_id', 'group_id', 'body', 'describe']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_group_participant" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'participant_id' is set
        if ('participant_id' not in params or
                params['participant_id'] is None):
            raise ValueError("Missing the required parameter `participant_id` when calling `update_group_participant`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `update_group_participant`")  # noqa: E501
        # verify the required parameter 'test_id' is set
        if ('test_id' not in params or
                params['test_id'] is None):
            raise ValueError("Missing the required parameter `test_id` when calling `update_group_participant`")  # noqa: E501
        # verify the required parameter 'group_id' is set
        if ('group_id' not in params or
                params['group_id'] is None):
            raise ValueError("Missing the required parameter `group_id` when calling `update_group_participant`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'participant_id' in params:
            path_params['participantID'] = params['participant_id']  # noqa: E501
        if 'project_id' in params:
            path_params['projectID'] = params['project_id']  # noqa: E501
        if 'test_id' in params:
            path_params['testID'] = params['test_id']  # noqa: E501
        if 'group_id' in params:
            path_params['groupID'] = params['group_id']  # noqa: E501

        query_params = []
        if 'describe' in params:
            query_params.append(('describe', params['describe']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{projectID}/tests/{testID}/groups/{groupID}/participants/{participantID}/', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='Participant',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
