# coding: utf-8

"""
    Loadero Controller

    This application serves main Loadero's endpoints that can be used to manipulate test data and other services  # noqa: E501

    OpenAPI spec version: {{ .Version }}
    Contact: support@loadero.com
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class PreconditionApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_precondition(self, project_id, test_id, assert_id, **kwargs):  # noqa: E501
        """Create new assert precondition  # noqa: E501

        This endpoint creates new assert precondition with given data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_precondition(project_id, test_id, assert_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int project_id: (required)
        :param int test_id: (required)
        :param int assert_id: (required)
        :param AssertPrecondition body:
        :param str describe:
        :return: AssertPrecondition
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_precondition_with_http_info(project_id, test_id, assert_id, **kwargs)  # noqa: E501
        else:
            (data) = self.create_precondition_with_http_info(project_id, test_id, assert_id, **kwargs)  # noqa: E501
            return data

    def create_precondition_with_http_info(self, project_id, test_id, assert_id, **kwargs):  # noqa: E501
        """Create new assert precondition  # noqa: E501

        This endpoint creates new assert precondition with given data.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_precondition_with_http_info(project_id, test_id, assert_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int project_id: (required)
        :param int test_id: (required)
        :param int assert_id: (required)
        :param AssertPrecondition body:
        :param str describe:
        :return: AssertPrecondition
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'test_id', 'assert_id', 'body', 'describe']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_precondition" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `create_precondition`")  # noqa: E501
        # verify the required parameter 'test_id' is set
        if ('test_id' not in params or
                params['test_id'] is None):
            raise ValueError("Missing the required parameter `test_id` when calling `create_precondition`")  # noqa: E501
        # verify the required parameter 'assert_id' is set
        if ('assert_id' not in params or
                params['assert_id'] is None):
            raise ValueError("Missing the required parameter `assert_id` when calling `create_precondition`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['projectID'] = params['project_id']  # noqa: E501
        if 'test_id' in params:
            path_params['testID'] = params['test_id']  # noqa: E501
        if 'assert_id' in params:
            path_params['assertID'] = params['assert_id']  # noqa: E501

        query_params = []
        if 'describe' in params:
            query_params.append(('describe', params['describe']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{projectID}/tests/{testID}/asserts/{assertID}/preconditions/', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AssertPrecondition',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def delete_precondition(self, precondition_id, project_id, test_id, assert_id, **kwargs):  # noqa: E501
        """Delete existing assert precondition  # noqa: E501

        This endpoint deletes assert precondition. Assert and precondition must be previously created  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_precondition(precondition_id, project_id, test_id, assert_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int precondition_id: (required)
        :param int project_id: (required)
        :param int test_id: (required)
        :param int assert_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.delete_precondition_with_http_info(precondition_id, project_id, test_id, assert_id, **kwargs)  # noqa: E501
        else:
            (data) = self.delete_precondition_with_http_info(precondition_id, project_id, test_id, assert_id, **kwargs)  # noqa: E501
            return data

    def delete_precondition_with_http_info(self, precondition_id, project_id, test_id, assert_id, **kwargs):  # noqa: E501
        """Delete existing assert precondition  # noqa: E501

        This endpoint deletes assert precondition. Assert and precondition must be previously created  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.delete_precondition_with_http_info(precondition_id, project_id, test_id, assert_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int precondition_id: (required)
        :param int project_id: (required)
        :param int test_id: (required)
        :param int assert_id: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['precondition_id', 'project_id', 'test_id', 'assert_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_precondition" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'precondition_id' is set
        if ('precondition_id' not in params or
                params['precondition_id'] is None):
            raise ValueError("Missing the required parameter `precondition_id` when calling `delete_precondition`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `delete_precondition`")  # noqa: E501
        # verify the required parameter 'test_id' is set
        if ('test_id' not in params or
                params['test_id'] is None):
            raise ValueError("Missing the required parameter `test_id` when calling `delete_precondition`")  # noqa: E501
        # verify the required parameter 'assert_id' is set
        if ('assert_id' not in params or
                params['assert_id'] is None):
            raise ValueError("Missing the required parameter `assert_id` when calling `delete_precondition`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'precondition_id' in params:
            path_params['preconditionID'] = params['precondition_id']  # noqa: E501
        if 'project_id' in params:
            path_params['projectID'] = params['project_id']  # noqa: E501
        if 'test_id' in params:
            path_params['testID'] = params['test_id']  # noqa: E501
        if 'assert_id' in params:
            path_params['assertID'] = params['assert_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{projectID}/tests/{testID}/asserts/{assertID}/preconditions/{preconditionID}/', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def read_all_preconditions(self, project_id, test_id, assert_id, **kwargs):  # noqa: E501
        """Get all existing assert preconditions for assert  # noqa: E501

        This endpoint retrieves all assert precodndition info. Assert must be previously created  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.read_all_preconditions(project_id, test_id, assert_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int project_id: (required)
        :param int test_id: (required)
        :param int assert_id: (required)
        :param int limit:
        :param int offset:
        :param str describe:
        :param str filter_property:
        :param str filter_operator:
        :param str filter_expected:
        :return: InlineResponse2006
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.read_all_preconditions_with_http_info(project_id, test_id, assert_id, **kwargs)  # noqa: E501
        else:
            (data) = self.read_all_preconditions_with_http_info(project_id, test_id, assert_id, **kwargs)  # noqa: E501
            return data

    def read_all_preconditions_with_http_info(self, project_id, test_id, assert_id, **kwargs):  # noqa: E501
        """Get all existing assert preconditions for assert  # noqa: E501

        This endpoint retrieves all assert precodndition info. Assert must be previously created  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.read_all_preconditions_with_http_info(project_id, test_id, assert_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int project_id: (required)
        :param int test_id: (required)
        :param int assert_id: (required)
        :param int limit:
        :param int offset:
        :param str describe:
        :param str filter_property:
        :param str filter_operator:
        :param str filter_expected:
        :return: InlineResponse2006
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['project_id', 'test_id', 'assert_id', 'limit', 'offset', 'describe', 'filter_property', 'filter_operator', 'filter_expected']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method read_all_preconditions" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `read_all_preconditions`")  # noqa: E501
        # verify the required parameter 'test_id' is set
        if ('test_id' not in params or
                params['test_id'] is None):
            raise ValueError("Missing the required parameter `test_id` when calling `read_all_preconditions`")  # noqa: E501
        # verify the required parameter 'assert_id' is set
        if ('assert_id' not in params or
                params['assert_id'] is None):
            raise ValueError("Missing the required parameter `assert_id` when calling `read_all_preconditions`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'project_id' in params:
            path_params['projectID'] = params['project_id']  # noqa: E501
        if 'test_id' in params:
            path_params['testID'] = params['test_id']  # noqa: E501
        if 'assert_id' in params:
            path_params['assertID'] = params['assert_id']  # noqa: E501

        query_params = []
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'offset' in params:
            query_params.append(('offset', params['offset']))  # noqa: E501
        if 'describe' in params:
            query_params.append(('describe', params['describe']))  # noqa: E501
        if 'filter_property' in params:
            query_params.append(('filter_property', params['filter_property']))  # noqa: E501
        if 'filter_operator' in params:
            query_params.append(('filter_operator', params['filter_operator']))  # noqa: E501
        if 'filter_expected' in params:
            query_params.append(('filter_expected', params['filter_expected']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{projectID}/tests/{testID}/asserts/{assertID}/preconditions/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2006',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def read_precondition(self, precondition_id, project_id, test_id, assert_id, **kwargs):  # noqa: E501
        """Read assert precondition info  # noqa: E501

        This endpoint retrieves assert precondition info. Assert and precondition must be previously created  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.read_precondition(precondition_id, project_id, test_id, assert_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int precondition_id: (required)
        :param int project_id: (required)
        :param int test_id: (required)
        :param int assert_id: (required)
        :param str describe:
        :return: AssertPrecondition
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.read_precondition_with_http_info(precondition_id, project_id, test_id, assert_id, **kwargs)  # noqa: E501
        else:
            (data) = self.read_precondition_with_http_info(precondition_id, project_id, test_id, assert_id, **kwargs)  # noqa: E501
            return data

    def read_precondition_with_http_info(self, precondition_id, project_id, test_id, assert_id, **kwargs):  # noqa: E501
        """Read assert precondition info  # noqa: E501

        This endpoint retrieves assert precondition info. Assert and precondition must be previously created  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.read_precondition_with_http_info(precondition_id, project_id, test_id, assert_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int precondition_id: (required)
        :param int project_id: (required)
        :param int test_id: (required)
        :param int assert_id: (required)
        :param str describe:
        :return: AssertPrecondition
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['precondition_id', 'project_id', 'test_id', 'assert_id', 'describe']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method read_precondition" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'precondition_id' is set
        if ('precondition_id' not in params or
                params['precondition_id'] is None):
            raise ValueError("Missing the required parameter `precondition_id` when calling `read_precondition`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `read_precondition`")  # noqa: E501
        # verify the required parameter 'test_id' is set
        if ('test_id' not in params or
                params['test_id'] is None):
            raise ValueError("Missing the required parameter `test_id` when calling `read_precondition`")  # noqa: E501
        # verify the required parameter 'assert_id' is set
        if ('assert_id' not in params or
                params['assert_id'] is None):
            raise ValueError("Missing the required parameter `assert_id` when calling `read_precondition`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'precondition_id' in params:
            path_params['preconditionID'] = params['precondition_id']  # noqa: E501
        if 'project_id' in params:
            path_params['projectID'] = params['project_id']  # noqa: E501
        if 'test_id' in params:
            path_params['testID'] = params['test_id']  # noqa: E501
        if 'assert_id' in params:
            path_params['assertID'] = params['assert_id']  # noqa: E501

        query_params = []
        if 'describe' in params:
            query_params.append(('describe', params['describe']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{projectID}/tests/{testID}/asserts/{assertID}/preconditions/{preconditionID}/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AssertPrecondition',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def update_precondition(self, precondition_id, project_id, test_id, assert_id, **kwargs):  # noqa: E501
        """Update existing assert precondition  # noqa: E501

        This endpoint updates assert precondition with given properties. Assert and precondition must be previously created  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_precondition(precondition_id, project_id, test_id, assert_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int precondition_id: (required)
        :param int project_id: (required)
        :param int test_id: (required)
        :param int assert_id: (required)
        :param AssertPrecondition body:
        :param str describe:
        :return: AssertPrecondition
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.update_precondition_with_http_info(precondition_id, project_id, test_id, assert_id, **kwargs)  # noqa: E501
        else:
            (data) = self.update_precondition_with_http_info(precondition_id, project_id, test_id, assert_id, **kwargs)  # noqa: E501
            return data

    def update_precondition_with_http_info(self, precondition_id, project_id, test_id, assert_id, **kwargs):  # noqa: E501
        """Update existing assert precondition  # noqa: E501

        This endpoint updates assert precondition with given properties. Assert and precondition must be previously created  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.update_precondition_with_http_info(precondition_id, project_id, test_id, assert_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int precondition_id: (required)
        :param int project_id: (required)
        :param int test_id: (required)
        :param int assert_id: (required)
        :param AssertPrecondition body:
        :param str describe:
        :return: AssertPrecondition
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['precondition_id', 'project_id', 'test_id', 'assert_id', 'body', 'describe']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_precondition" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'precondition_id' is set
        if ('precondition_id' not in params or
                params['precondition_id'] is None):
            raise ValueError("Missing the required parameter `precondition_id` when calling `update_precondition`")  # noqa: E501
        # verify the required parameter 'project_id' is set
        if ('project_id' not in params or
                params['project_id'] is None):
            raise ValueError("Missing the required parameter `project_id` when calling `update_precondition`")  # noqa: E501
        # verify the required parameter 'test_id' is set
        if ('test_id' not in params or
                params['test_id'] is None):
            raise ValueError("Missing the required parameter `test_id` when calling `update_precondition`")  # noqa: E501
        # verify the required parameter 'assert_id' is set
        if ('assert_id' not in params or
                params['assert_id'] is None):
            raise ValueError("Missing the required parameter `assert_id` when calling `update_precondition`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'precondition_id' in params:
            path_params['preconditionID'] = params['precondition_id']  # noqa: E501
        if 'project_id' in params:
            path_params['projectID'] = params['project_id']  # noqa: E501
        if 'test_id' in params:
            path_params['testID'] = params['test_id']  # noqa: E501
        if 'assert_id' in params:
            path_params['assertID'] = params['assert_id']  # noqa: E501

        query_params = []
        if 'describe' in params:
            query_params.append(('describe', params['describe']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'body' in params:
            body_params = params['body']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['oauth2']  # noqa: E501

        return self.api_client.call_api(
            '/projects/{projectID}/tests/{testID}/asserts/{assertID}/preconditions/{preconditionID}/', 'PUT',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='AssertPrecondition',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
